table{
    background-color:#003366;
    width:400px;
}
td{
    background-color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: size 20;
    text-shadow: -8px 6px 2px #333;
}